<div class='templatename'>

  <p>Twig шаблон my-module-templatename.html.twig.</p>
  <p>Переменные в шаблоне:</p>
  <p>1. Varname1 - {{ varname1 }}</p>
  <p>2. Varname2 - {{ varname2 }}</p>
  <br>
  <br>
  <br>
  <p>{{ varname1|replace_wth_x }}</p>
  <br>
  <br>
  <p>{{ print_author(varname2) }}</p>
{#  <p>{{ print_author(mymodule-templatename) }}</p>#}


</div>
